doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/startup/common-files/js/easing.min.js")
    script(src="/js/startup/common-files/js/froogaloop.min.js")
    script(src="/js/startup/common-files/js/jquery-1.10.2.min.js")
    script(src="/js/startup/common-files/js/jquery.backgroundvideo.min.js")
    script(src="/js/startup/common-files/js/jquery.bxslider.min.js")
    script(src="/js/startup/common-files/js/jquery.parallax.min.js")
    script(src="/js/startup/common-files/js/jquery.scrollTo-1.4.3.1-min.js")
    script(src="/js/startup/common-files/js/jquery.sharrre.min.js")
    script(src="/js/startup/common-files/js/jquery.svg.js")
    script(src="/js/startup/common-files/js/jquery.svganim.js")
    script(src="/js/startup/common-files/js/masonry.pkgd.min.js")
    script(src="/js/startup/common-files/js/modernizr.custom.js")
    script(src="/js/startup/common-files/js/page-transitions.js")
    script(src="/js/startup/common-files/js/startup-kit.js")
    script(src="/js/startup/flat-ui/bootstrap/js/application.js")
    script(src="/js/startup/flat-ui/bootstrap/js/google-code-prettify/prettify.js")
    script(src="/js/startup/flat-ui/bootstrap/js/holder.js")
    script(src="/js/startup/flat-ui/js/application.js")
    script(src="/js/startup/flat-ui/js/bootstrap-select.js")
    script(src="/js/startup/flat-ui/js/bootstrap-switch.js")
    script(src="/js/startup/flat-ui/js/bootstrap.min.js")
    script(src="/js/startup/flat-ui/js/flatui-checkbox.js")
    script(src="/js/startup/flat-ui/js/flatui-radio.js")
    script(src="/js/startup/flat-ui/js/html5shiv.js")
    script(src="/js/startup/flat-ui/js/icon-font-ie7.js")
    script(src="/js/startup/flat-ui/js/jquery-1.10.2.min.js")
    script(src="/js/startup/flat-ui/js/jquery-1.8.3.min.js")
    script(src="/js/startup/flat-ui/js/jquery-2.0.3.min.js")
    script(src="/js/startup/flat-ui/js/jquery-ui-1.10.3.custom.min.js")
    script(src="/js/startup/flat-ui/js/jquery.placeholder.js")
    script(src="/js/startup/flat-ui/js/jquery.tagsinput.js")
    script(src="/js/startup/flat-ui/js/jquery.ui.touch-punch.min.js")
    script(src="/js/startup/flat-ui/js/respond.min.js")
    script(src="/js/startup/flat-ui/js/typeahead.js")
    // SCRIPTS END

