@import url(http://fonts.googleapis.com/css?family=Montserrat);
.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
/* styles from flat-ui-free2.0.0-fix.less files */
body {
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.231;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #16a085;
  text-decoration: none;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
a:hover {
  color: #1abc9c;
  text-decoration: none;
}
h1,
.h1 {
  font-size: 48px /* 64px */;
}
h2,
.h2 {
  font-size: 41px /* 52px */;
}
h3,
.h3 {
  font-size: 32px /* 40px */;
}
h4,
.h4 {
  font-size: 23px /* 29px */;
}
h5,
.h5 {
  font-size: 21px /* 28px */;
}
h6,
.h6 {
  font-size: 19px /* 24px */;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  line-height: 1.2em;
}
h1 {
  font-weight: 700;
}
h2 {
  font-weight: 700;
  margin-bottom: 2px;
}
h3 {
  font-weight: 700;
  margin-bottom: 4px;
  margin-top: 2px;
}
h4 {
  font-weight: 500;
  margin-top: 4px;
}
h5 {
  font-weight: 500;
}
h6 {
  font-weight: normal;
}
p {
  font-size: 18.004px;
  /* 18px */
  line-height: 1.722169;
  /* 31px */
}
.lead {
  font-size: 28px;
  /* 28px */
  line-height: 1.4642745;
  /* 41px */
  font-weight: 300;
  margin-bottom: 20px;
}
small {
  font-size: 84%;
  /* 15px */
  line-height: 2.050846;
  /* 31px */
}
blockquote {
  position: relative;
  border-left: none;
  padding-left: 19px;
}
blockquote p {
  font-size: 20.006px;
  line-height: 1.549829;
  font-weight: normal;
  margin-bottom: .4em;
}
blockquote small {
  font-size: 18.004px;
  line-height: 1.722169;
  font-style: italic;
  color: #34495e;
}
blockquote small:before {
  content: "";
}
blockquote:before {
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebedee;
  content: "";
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.img-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.img-comment {
  font-size: 14.994px;
  line-height: 1.231;
  font-style: italic;
  margin: 24px 0;
}
.text-primary {
  color: #1abc9c;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #15967d;
}
.text-success {
  color: #2ecc71;
}
a.text-success:hover,
a.text-success:focus {
  color: #25a35a;
}
.text-danger {
  color: #e74c3c;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b93d30;
}
.text-warning {
  color: #f1c40f;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #c19d0c;
}
.text-info {
  color: #3498db;
}
a.text-info:hover,
a.text-info:focus {
  color: #2a7aaf;
}
.text-inverse {
  color: #ffffff;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #cccccc;
}
.muted {
  color: #bdc3c7;
}
a.muted:hover,
a.muted:focus {
  color: #979c9f;
}
footer {
  background-color: transparent;
}
.input-append input {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-turquoise {
  background-color: #1abc9c;
}
.bg-green-sea {
  background-color: #16a085;
}
.bg-emerland {
  background-color: #2ecc71;
}
.bg-nephritis {
  background-color: #27ae60;
}
.bg-peter-river {
  background-color: #3498db;
}
.bg-belize-hole {
  background-color: #2980b9;
}
.bg-amethyst {
  background-color: #9b59b6;
}
.bg-wisteria {
  background-color: #8e44ad;
}
.bg-wet-asphalt {
  background-color: #34495e;
}
.bg-midnight-blue {
  background-color: #2c3e50;
}
.bg-sun-flower {
  background-color: #f1c40f;
}
.bg-orange {
  background-color: #f39c12;
}
.bg-carrot {
  background-color: #e67e22;
}
.bg-pumpkin {
  background-color: #d35400;
}
.bg-alizarin {
  background-color: #e74c3c;
}
.bg-pomegranate {
  background-color: #c0392b;
}
.bg-clouds {
  background-color: #ecf0f1;
}
.bg-silver {
  background-color: #bdc3c7;
}
.bg-concrete {
  background-color: #95a5a6;
}
.bg-asbestos {
  background-color: #7f8c8d;
}
.bg-base {
  background-color: #34495e;
}
.bg-firm {
  background-color: #1abc9c;
}
.bg-success {
  background-color: #2ecc71;
}
.bg-danger {
  background-color: #e74c3c;
}
.bg-warning {
  background-color: #f1c40f;
}
.bg-info {
  background-color: #3498db;
}
.bordered {
  border-style: solid;
}
.bordered.bg-turquoise {
  border-color: #16a085;
}
.bordered.bg-emerland {
  border-color: #27ae60;
}
.bordered.bg-peter-river {
  border-color: #2980b9;
}
.bordered.bg-amethyst {
  border-color: #8e44ad;
}
.bordered.bg-wet-asphalt {
  border-color: #2c3e50;
}
.bordered.bg-sun-flower {
  border-color: #f39c12;
}
.bordered.bg-carrot {
  border-color: #d35400;
}
.bordered.bg-alizarin {
  border-color: #c0392b;
}
.bordered.bg-clouds {
  border-color: #bdc3c7;
}
.bordered.bg-concrete {
  border-color: #7f8c8d;
}
html,
body {
  height: 100%;
}
body {
  overflow-x: hidden;
  color: #7f8c8d;
  line-height: 1.29;
}
@media (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
}
li {
  line-height: 20px;
}
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.btn.btn-large {
  font-size: 17px;
  padding: 12px 18px;
}
.btn > [class^="fui-"] {
  margin-left: 4px;
  margin-right: 4px;
  line-height: inherit;
  display: inline-block;
  vertical-align: top;
}
.input-group-btn .btn {
  background: #bdc3c7;
  line-height: 9px 12px 10px;
  line-height: 22px;
  border: 0;
  margin: 0;
  color: #fff;
  margin-left: 0 !important;
  padding-left: 10px;
  padding-right: 12px;
}
.input-group-btn .btn:hover {
  background: #cacfd2;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-group {
  margin-bottom: 10px;
}
label {
  line-height: 20px;
}
.carousel {
  line-height: 1;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
}
h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 10px;
}
.page-wrapper {
  position: relative;
  z-index: 2;
  background: #fff;
  overflow: hidden;
  min-height: 100%;
}
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loaded .page-wrapper,
.loaded .header-antiflicker,
.loaded body > header .header-background {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
.loaded.nav-visible .page-wrapper,
.loaded.nav-visible .navbar.navbar-fixed-top,
.loaded.nav-visible .header-antiflicker,
.loaded.nav-visible body > header .header-background {
  -webkit-transform: translate3d(-230px, 0, 0);
  -moz-transform: translate3d(-230px, 0, 0);
  -o-transform: translate3d(-230px, 0, 0);
  transform: translate3d(-230px, 0, 0);
}
.loaded.no-csstransitions .page-wrapper,
.loaded.no-csstransitions .header-antiflicker {
  left: 0;
}
.loaded.no-csstransitions.nav-visible .page-wrapper,
.loaded.no-csstransitions.nav-visible .navbar.navbar-fixed-top,
.loaded.no-csstransitions.nav-visible .header-antiflicker {
  left: -230px !important;
  right: auto;
}
.carousel-indicators {
  width: 100%;
}
[class^="fui-"] {
  display: inline-block;
  vertical-align: middle;
}
body > section,
header,
footer {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  body > section,
  header,
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
}
h1 {
  font-weight: normal;
}
h3 {
  font-weight: normal;
}
img {
  -webkit-backface-visibility: hidden;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}
#bgVideo {
  overflow: hidden;
}
#bgVideo > video {
  position: absolute !important;
}
.delimiter {
  margin-top: 200px;
}
.delimiter.line {
  margin-top: 150px;
  margin-bottom: 150px;
  border-top: 2px solid #ebedee;
}
header {
  padding-top: 100px;
  padding-bottom: 70px;
  z-index: 100;
}
header .brand {
  font-size: 25px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
  color: #2c3e50;
}
header .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.navbar {
  left: 0;
  right: 0;
}
.navbar .brand {
  padding: 23px 28px 24px 0;
  float: left;
}
.navbar .subnav {
  display: none;
}
.navbar a {
  -webkit-transition: color 0.25s, background 0.25s;
  -moz-transition: color 0.25s, background 0.25s;
  -o-transition: color 0.25s, background 0.25s;
  transition: color 0.25s, background 0.25s;
}
.navbar .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background: none;
}
.navbar .navbar-toggle {
  margin: 26px 0 10px;
  color: white;
  background: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background: url("../../startup/common-files/icons/menu-icon@2x.png") 50% no-repeat;
  -webkit-background-size: 17px 12px;
  -moz-background-size: 17px 12px;
  -o-background-size: 17px 12px;
  background-size: 17px 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .navbar-toggle:before {
  display: none;
}
.navbar .navbar-form .btn {
  height: auto;
  line-height: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .nav > li > a > [class*="fui-"] {
  font-size: 24px;
  margin: -10px 0 0;
  position: relative;
  top: 4px;
}
.navbar.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  max-width: 1170px;
  margin: 0 auto;
}
.loaded .navbar.navbar-fixed-top {
  -webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-header {
    float: none;
  }
}
.header-19 .navbar-collapse.collapse,
.header-16 .navbar-collapse.collapse {
  display: none !important;
}
@media (max-width: 991px) {
  body .navbar-collapse {
    width: 230px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100% !important;
    z-index: 1;
  }
}
@media (min-width: 992px) {
  body > .collapse.navbar-collapse {
    display: none !important;
  }
}
body .navbar-collapse#header-19,
body .navbar-collapse#header-16 {
  width: 230px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100% !important;
  z-index: 1;
}
body > .navbar-collapse {
  padding: 25px 0;
  overflow: auto;
  background: #222527;
  min-height: 100%;
}
body > .navbar-collapse::-webkit-scrollbar {
  display: none;
}
body > .navbar-collapse .pull-right,
body > .navbar-collapse .pull-left {
  float: none !important;
}
body > .navbar-collapse .nav {
  margin: 0 0 10px;
}
body > .navbar-collapse .nav > li {
  margin: 0;
}
body > .navbar-collapse .nav > li > a {
  display: block;
  padding: 12px 35px;
  border-bottom: 2px solid #24292d;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  color: #5b5e61;
  text-transform: uppercase;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus,
body > .navbar-collapse .nav > li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .nav > li > a:hover,
body > .navbar-collapse .nav > li > a:focus {
  background: none;
}
body > .navbar-collapse .nav > li.active > a {
  color: #ffffff;
}
body > .navbar-collapse .nav > li.active > a:hover,
body > .navbar-collapse .nav > li.active > a:focus,
body > .navbar-collapse .nav > li.active > a.active {
  color: #ffffff;
}
body > .navbar-collapse .subnav {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
body > .navbar-collapse .subnav li > a {
  display: block;
  margin: 0;
  padding: 7px 35px;
  font-size: 13px;
  font-weight: normal;
  color: #5b5e61;
  text-transform: capitalize;
}
body > .navbar-collapse .subnav li > a:hover,
body > .navbar-collapse .subnav li > a:focus,
body > .navbar-collapse .subnav li > a.active {
  color: #ffffff;
}
body > .navbar-collapse .navbar-form,
body > .navbar-collapse .navbar-search {
  padding: 10px 35px;
  margin: 0;
  border-bottom: 0 none;
  border-top: 0 none;
  box-shadow: none;
}
body > .navbar-collapse .navbar-form:focus,
body > .navbar-collapse .navbar-search:focus {
  outline: 0 none;
}
body > .navbar-collapse .navbar-form .btn,
body > .navbar-collapse .navbar-search .btn,
body > .navbar-collapse .navbar-form .btn-primary,
body > .navbar-collapse .navbar-search .btn-primary {
  height: 30px;
  line-height: 20px;
  font-size: 15px;
  color: #5b5e61;
  background: none;
  padding: 0;
}
body > .navbar-collapse .navbar-form .btn:hover,
body > .navbar-collapse .navbar-search .btn:hover,
body > .navbar-collapse .navbar-form .btn-primary:hover,
body > .navbar-collapse .navbar-search .btn-primary:hover {
  color: #fff;
}
/**
 * Header 12 stylesheet  
 * */
.header-12 {
  padding-top: 0;
  padding-bottom: 0;
}
.header-12 .navbar {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 90px;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #bdc3c7;
}
.header-12 .navbar .navbar-header {
  float: none;
}
.header-12 .navbar .brand {
  padding: 0;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 800;
}
.header-12 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-12 .navbar .nav {
  margin: 12px 0 0 100px;
  float: left;
}
.header-12 .navbar .nav a {
  font-weight: 800;
  color: #bdc3c7;
  letter-spacing: 2px;
}
.header-12 .navbar .nav a:hover,
.header-12 .navbar .nav a:focus,
.header-12 .navbar .nav a.active {
  color: #ffffff;
}
@media (max-width: 480px) {
  .header-12 .navbar {
    top: 50px;
  }
  .header-12 .navbar .nav {
    display: none;
  }
}
.header-12-sub {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.header-12-sub:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  border: 14px solid white;
  border-left-color: #fff55b;
  border-top-color: #fff55b;
  z-index: 3;
}
.header-12-sub .row {
  float: left;
}
.header-12-sub .hero-unit {
  margin: 260px 0 0;
  padding: 0;
  background: transparent;
}
.header-12-sub .hero-unit h1 {
  margin: 0 0 22px;
  font-size: 30px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  line-height: 40px;
}
.header-12-sub .hero-unit p {
  font-size: 18px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}
.header-12-sub .background {
  background-image: url("../../../images/stock-ticker-bg.jpg");
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
@media (max-width: 991px) {
  .header-12-sub {
    padding-bottom: 0;
  }
  .header-12-sub .row {
    float: none;
  }
  .header-12-sub .row > .col-sm-5 {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .header-12-sub .hero-unit {
    margin: 120px 0 0;
  }
}
@media (max-width: 480px) {
  .header-12-sub {
    padding-bottom: 0;
  }
  .header-12-sub .row {
    float: none;
  }
  .header-12-sub .hero-unit {
    margin: 60px 0 0;
  }
  .header-12-sub .hero-unit h1 {
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    line-height: 40px;
  }
}
.header-12-sub .aside {
  position: relative;
  background: #e74c3c;
  float: right;
  text-align: center;
  padding-left: 95px;
  border-left: 5px solid #fff;
  margin-top: -80px;
  margin-bottom: -80px;
  padding-top: 80px;
  padding-bottom: 117px;
}
.header-12-sub .aside:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5000px;
  height: 100%;
  background: #e74c3c;
}
.header-12-sub .aside > * {
  position: relative;
}
.header-12-sub .aside > div > [class*="fui-"] {
  font-size: 24px;
  font-weight: normal;
  color: #fff55b;
  margin-bottom: 100px;
}
.header-12-sub .aside h1,
.header-12-sub .aside .h1,
.header-12-sub .aside h2,
.header-12-sub .aside .h2,
.header-12-sub .aside h3,
.header-12-sub .aside .h3,
.header-12-sub .aside h4,
.header-12-sub .aside .h4,
.header-12-sub .aside h5,
.header-12-sub .aside .h5,
.header-12-sub .aside h6,
.header-12-sub .aside .h6 {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-12-sub .aside h3 {
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 30px;
}
.header-12-sub .aside p {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  line-height: 24.3px;
}
.header-12-sub .aside .muted {
  color: rgba(255, 255, 255, 0.8);
}
.header-12-sub .aside .price {
  position: relative;
  display: inline-block;
  margin: -1px 0 17px;
  font-size: 140px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
}
.header-12-sub .aside .price .currency {
  position: absolute;
  top: 30px;
  left: -1em;
  font-size: 20px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}
.header-12-sub .aside .btn {
  margin-top: 100px;
  padding-left: 37px;
  padding-right: 37px;
  color: #e74c3c;
  background-color: #fff55b;
}
.header-12-sub .aside .btn:hover,
.header-12-sub .aside .btn:focus {
  background-color: #fff77c;
}
.header-12-sub .aside .btn:active,
.header-12-sub .aside .btn.active {
  background-color: #d9d04d;
}
@media (max-width: 991px) {
  .header-12-sub .aside {
    max-width: none;
    float: none;
    padding-left: 0;
    border-left: 0;
    margin: 60px -20px 0;
  }
  .header-12-sub .aside:before {
    left: 50%;
    margin-left: -2500px;
    border-top: 5px solid #fff;
  }
}
@media (max-width: 480px) {
  .header-12-sub .aside {
    max-width: none;
    float: none;
    padding-left: 0;
    border-left: 0;
    border-top: 5px solid #fff;
    margin: 60px -20px 0;
  }
  .header-12-sub .aside:before {
    display: none;
  }
  .header-12-sub .aside > div > [class*="fui-"] {
    margin-bottom: 40px;
  }
  .header-12-sub .aside .btn {
    margin-top: 40px;
  }
  .header-12-sub .aside p {
    max-width: 55%;
    margin: 0 auto 10px;
  }
}
/**
 * Content 15 stylesheet  
 * */
.content-15 {
  padding-top: 125px;
  padding-bottom: 130px;
  position: relative;
}
.content-15 h3 {
  margin-bottom: 68px;
  font-size: 37px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-15 h3 {
    margin-bottom: 76px;
    font-size: 30px;
    font-weight: normal;
    color: #2c3e50;
    font-weight: 300;
    text-align: center;
  }
}
.content-15 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features {
  margin-top: 120px;
}
.content-15 .features h6 {
  text-transform: none;
  margin: 60px 0 20px;
  font-size: 20px;
  font-weight: normal;
  color: #e74c3c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-15 .features h6:first-child {
  margin-top: auto;
}
@media (max-width: 767px) {
  .content-15 .features h6 {
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
  }
}
.content-15 .features p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}
.content-15 .features .col-sm-7 img {
  width: 100%;
}
@media (max-width: 767px) {
  .content-15 .features .col-sm-7 {
    text-align: center;
    margin-bottom: 46px;
  }
}
@media (max-width: 767px) {
  .content-15 .features {
    margin-top: 76px;
  }
}
/**
 * Content 11 stylesheet  
 * */
.content-11 {
  position: relative;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  background: rgba(241, 196, 15, 0.1);
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.content-11 > .container {
  position: relative;
}
.content-11 .btn {
  margin-left: 33px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}
@media (max-width: 480px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
@media (max-width: 614px) {
  .content-11 > .container > span {
    display: block;
  }
  .content-11 .btn {
    margin: 30px 0 0;
  }
}
.content-31 {
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .content-31 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.content-31 .container {
  position: relative;
  padding: 50px 0;
}
.content-31 .container:before {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  top: 0;
  height: 100%;
  border-left: 2px solid #ebedee;
}
.content-31 .container > * {
  padding: 100px 0;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-31 .container h3 {
  margin: 0 0 30px;
  font-size: 40px;
  color: #7f8c8d;
  -webkit-transition: 0.6s color;
  -moz-transition: 0.6s color;
  -o-transition: 0.6s color;
  transition: 0.6s color;
}
.content-31 .container .number {
  position: absolute;
  left: -4px;
  margin-top: 4px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background: #ebedee;
  text-align: center;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-transition: 0.6s background-color;
  -moz-transition: 0.6s background-color;
  -o-transition: 0.6s background-color;
  transition: 0.6s background-color;
}
.content-31 .container .active > .number {
  background: #1abc9c;
}
.content-31 .container .box {
  margin-top: 70px;
  text-align: center;
}
.content-31 .container .img {
  display: inline-block;
  position: relative;
}
@media (max-width: 480px) {
  .content-31 .container .img {
    display: block;
  }
}
.content-31 .container .img img {
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
}
.content-31 .container .img img + img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-31 .container .active {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-31 .container .active h3 {
  color: #1abc9c;
}
.content-31 .container .active .img img:first-child {
  opacity: 0;
  filter: alpha(opacity=0);
}
.content-31 .container .active .img img + img {
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-31 .container .pt-perspective {
  position: relative;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}
.content-31 .container .pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.content-31 .container .pt-page-current,
.content-31 .container .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}
.content-31 .container .pt-page-ontop {
  z-index: 999;
}
.content-31 .container .pt-controls {
  position: absolute;
  left: 0;
  right: 0;
}
@media (min-width: 1200px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
@media (min-width: 723px) and (max-width: 1200px) {
  .content-31 .container .pt-controls {
    bottom: 90px;
  }
}
@media (min-width: 643px) and (max-width: 722px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
@media (min-width: 611px) and (max-width: 642px) {
  .content-31 .container .pt-controls {
    bottom: 80px;
  }
}
@media (min-width: 400px) and (max-width: 611px) {
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
}
.content-31 .container .pt-controls > * {
  position: relative;
  z-index: 9999;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #e74c3c;
}
.content-31 .container .pt-control-prev {
  float: left;
}
.content-31 .container .pt-control-next {
  float: right;
}
.content-31 .container .pt-first .pt-control-prev {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
}
.content-31 .container .pt-last .pt-control-next {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
}
@media (max-width: 767px) {
  .content-31 .container {
    padding-left: 50px;
  }
}
@media (max-width: 480px) {
  .content-31 .container > * {
    padding: 40px 0;
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-31 .container .number {
    background: #1abc9c;
  }
  .content-31 .container h3 {
    color: #1abc9c;
    font-size: 30px;
  }
  .content-31 .container .img img:first-child {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .content-31 .container .img img + img {
    margin-top: 30px;
    max-width: 100%;
    opacity: 100;
    filter: alpha(opacity=10000);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .content-31 .container .pt-controls {
    bottom: 120px;
  }
  .content-31 .container .pt-controls .pt-control-prev {
    left: -20px;
  }
  .content-31 .container .pt-controls .pt-control-next {
    right: -20px;
  }
  .content-31 .container .box {
    margin: 0 0 30px;
  }
}
@media (max-width: 400px) {
  .content-31 .container .pt-controls {
    bottom: 80px;
  }
}
/**
 * Content 18 stylesheet  
 * */
.content-18 {
  padding-top: 130px;
  padding-bottom: 130px;
  position: relative;
}
.content-18 .carousel {
  margin-bottom: 100px;
  text-align: center;
}
.content-18 .carousel:before {
  content: '';
  background: url("../../startup/common-files/icons/quote-down-mb@2x.png") no-repeat;
  -webkit-background-size: 31px 22px;
  -moz-background-size: 31px 22px;
  -o-background-size: 31px 22px;
  background-size: 31px 22px;
  display: block;
  margin: 0 auto 95px;
  width: 31px;
  height: 22px;
  text-align: center;
}
@media (max-width: 767px) {
  .content-18 .carousel:before {
    margin-bottom: 45px;
  }
}
.content-18 .carousel .quote-text {
  max-width: 625px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 40px;
}
.content-18 .carousel .quote-author {
  max-width: 625px;
  margin: 45px auto 0;
  padding: 0 20px;
  font-size: 18px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
.content-18 .carousel .controls {
  position: relative;
  z-index: 3;
}
.content-18 .carousel .controls > .carousel-control {
  z-index: 5;
  position: absolute;
  top: 20px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
  background: #2c3e50;
}
.content-18 .carousel .controls > .carousel-control.disabled {
  z-index: auto;
  background: none;
  border: 3px solid #ebedee;
  pointer-events: none;
  cursor: default;
}
.content-18 .carousel .controls > .carousel-control.left {
  left: 0;
}
.content-18 .carousel .controls > .carousel-control.right {
  right: 0;
}
.content-18 .carousel .carousel-inner {
  padding-bottom: 0;
}
.content-18 .carousel .item {
  -webkit-transition: 0.8s ease-in-out opacity;
  -moz-transition: 0.8s ease-in-out opacity;
  -o-transition: 0.8s ease-in-out opacity;
  transition: 0.8s ease-in-out opacity;
  display: block;
  position: absolute;
  top: 0;
  left: 0!important;
  right: 0;
  opacity: 0;
}
.content-18 .carousel .item.active.left,
.content-18 .carousel .item.active.right {
  opacity: 0;
  top: 100%;
  z-index: 2;
}
.content-18 .carousel .item.active,
.content-18 .carousel .item.prev,
.content-18 .carousel .item.next {
  opacity: 1;
  top: 0;
  z-index: 1;
}
.content-18 .carousel + * {
  position: relative;
}
@media (max-width: 767px) {
  .content-18 .carousel {
    margin-bottom: 0;
  }
}
.content-18 .quotes > * {
  margin-top: 48px;
}
.content-18 .quotes h6 {
  text-transform: none;
  font-size: 18px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/**
 * Copntact 2 stylesheet  
 * */
.contacts-2 {
  padding-top: 110px;
  padding-bottom: 110px;
}
.contacts-2 h3 {
  font-size: 30px;
  margin: 0 0 40px;
  font-weight: 300px;
}
@media (max-width: 480px) {
  .contacts-2 h3 {
    font-size: 26px;
    margin: 0 0 30px;
  }
}
.contacts-2 h6,
.contacts-2 .h6 {
  margin: 0 0 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: none;
}
.contacts-2 label.h6 {
  margin-bottom: 12px;
}
.contacts-2 p {
  font-size: 16px;
  line-height: 1.6;
}
.contacts-2 a {
  color: #1abc9c;
}
.contacts-2 a:hover,
.contacts-2 a:focus,
.contacts-2 a.active {
  color: #15967d;
}
.contacts-2 form {
  margin: 0;
  padding: 46px;
  border: 2px solid #ebedee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.contacts-2 form input,
.contacts-2 form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 29px;
  border-color: #ebedee;
  color: #7f8c8d;
}
.contacts-2 form input:focus,
.contacts-2 form textarea:focus {
  border-color: #1abc9c;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form input {
  height: 45px;
}
.contacts-2 form textarea {
  height: 120px;
}
.contacts-2 form label {
  margin-bottom: 18px;
}
.contacts-2 form .btn {
  margin-top: 7px;
  min-width: 150px;
}
.contacts-2 form .btn [class*="fui-"] {
  font-size: 24px;
}
.contacts-2 form .btn.btn-primary:hover,
.contacts-2 form .btn.btn-primary:focus {
  background-color: #e74c3c;
}
.contacts-2 form .btn.btn-primary:active,
.contacts-2 form .btn.btn-primary.active {
  background-color: #c44133;
}
.contacts-2 .map {
  height: 165px;
  margin: 25px 0 60px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: hidden;
}
.contacts-2 .links {
  margin-top: 20px;
}
.contacts-2 .links a {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}
.contacts-2 .links [class*="fui-"] {
  font-size: 26px;
  vertical-align: middle;
  margin: -3px 23px 0 0;
}
@media (max-width: 767px) {
  .contacts-2 > .container > .row > * + * {
    margin-top: 55px;
  }
}
@media (max-width: 480px) {
  .contacts-2 form {
    margin-bottom: 80px;
    padding: 15px;
  }
  .contacts-2 form label {
    margin-bottom: 0px;
  }
}
/**
 * Footer 11 stylesheet  
 * */
.footer-11 {
  padding-top: 110px;
  text-align: center;
}
.footer-11 > .container {
  padding-bottom: 40px;
  position: relative;
}
.footer-11 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-11 a:hover,
.footer-11 a:focus,
.footer-11 a.active {
  color: #3498db;
}
.footer-11 .brand {
  position: absolute;
  top: 0;
  left: 15px;
}
.footer-11 .brand img:first-child {
  float: left;
  margin: 0 15px 0 0;
}
.footer-11 nav {
  margin: 0 100px;
}
.footer-11 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 nav ul li {
  display: inline-block;
  margin-left: 25px;
}
.footer-11 nav ul li:first-child {
  margin-left: 0;
}
.footer-11 nav ul li a {
  font-size: 18px;
  font-weight: normal;
  font-weight: 500;
  color: #34495e;
}
.footer-11 nav ul li a:hover,
.footer-11 nav ul li a:focus,
.footer-11 nav ul li a.active {
  color: #bdc3c7;
}
.footer-11 .social-btns {
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 15px;
}
.footer-11 .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #34495e;
  width: 16px;
  height: 19px;
  overflow: hidden;
  text-align: center;
}
.footer-11 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-11 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-11 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-11 .social-btns > *:hover > * {
  top: -100%;
}
.footer-11 .additional-links {
  border-top: 2px solid #ecf0f1;
  background: #f4f5f6;
  padding: 50px 0;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
}
@media (max-width: 767px) {
  .footer-11 .additional-links {
    margin-right: -5px;
    margin-left: -5px;
  }
  .footer-11 .additional-links .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.footer-11 .additional-links .lead {
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: normal;
  color: #34495e;
}
.footer-11 .additional-links .lead b {
  font-weight: 500;
}
.footer-11 .additional-links a {
  margin: 0 10px;
  color: #95a5a6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-11 .additional-links a:hover,
.footer-11 .additional-links a:focus,
.footer-11 .additional-links a.active {
  color: #778485;
}
@media (max-width: 480px) {
  .footer-11 {
    border-top: 0;
    text-align: left;
  }
  .footer-11 .brand {
    display: none;
  }
  .footer-11 nav {
    margin-left: -20px;
    margin-right: -20px;
  }
  .footer-11 nav ul li {
    float: none;
    margin: 0;
    display: block;
    text-align: left;
    border-bottom: 2px solid #ecf0f1;
    padding: 11px 20px;
  }
  .footer-11 nav ul li:first-child {
    margin-top: 0;
    border-top: 2px solid #ecf0f1;
  }
  .footer-11 .social-btns {
    position: static;
    margin-top: 30px;
    margin-bottom: 11px;
  }
  .footer-11 .additional-links a {
    margin: 0 20px 0 0;
    line-height: 18.0667px;
  }
}
